--- 
layout: landing 
title: Consent for Schools 
nav: false 
---
<style>
  @-webkit-keyframes bodyaferanim {
    0% {
      -webkit-box-shadow: 200px 150px 0px 0px #dfbdca;
              box-shadow: 200px 150px 0px 0px #dfbdca;
      -webkit-transform: rotate(-24deg);
              transform: rotate(-24deg);
    }
    25% {
      -webkit-box-shadow: 90px 20px 0px 0px #dfbdca;
              box-shadow: 90px 20px 0px 0px #dfbdca;
      -webkit-transform: rotate(-23deg);
              transform: rotate(-23deg);
    }
    50% {
      -webkit-box-shadow: 60px 115px 0px 0px #dfbdca;
              box-shadow: 60px 115px 0px 0px #dfbdca;
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    75% {
      -webkit-box-shadow: 140px 30px 0px 0px #dfbdca;
              box-shadow: 140px 30px 0px 0px #dfbdca;
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }
    100% {
      -webkit-box-shadow: 250px 170px 0px 0px #dfbdca;
              box-shadow: 250px 170px 0px 0px #dfbdca;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
    }
  }

  @keyframes bodyaferanim {
    0% {
      -webkit-box-shadow: 200px 150px 0px 0px #dfbdca;
              box-shadow: 200px 150px 0px 0px #dfbdca;
      -webkit-transform: rotate(-24deg);
              transform: rotate(-24deg);
    }
    25% {
      -webkit-box-shadow: 90px 20px 0px 0px #dfbdca;
              box-shadow: 90px 20px 0px 0px #dfbdca;
      -webkit-transform: rotate(-23deg);
              transform: rotate(-23deg);
    }
    50% {
      -webkit-box-shadow: 60px 115px 0px 0px #dfbdca;
              box-shadow: 60px 115px 0px 0px #dfbdca;
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    75% {
      -webkit-box-shadow: 140px 30px 0px 0px #dfbdca;
              box-shadow: 140px 30px 0px 0px #dfbdca;
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg);
    }
    100% {
      -webkit-box-shadow: 250px 170px 0px 0px #dfbdca;
              box-shadow: 250px 170px 0px 0px #dfbdca;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg);
    }
  }

  @-webkit-keyframes loadBar {
    0% {
      left: -110%;
    }
    100% {
      left: 110%;
    }
  }

  @keyframes loadBar {
    0% {
      left: -110%;
    }
    100% {
      left: 110%;
    }
  }

  body:after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 130vh;
    right: 0;
    bottom: 0;
    left: -15vw;
    border: 80px solid #fff;
    border-radius: 50px;
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
        transform: rotate(-24deg);
    z-index: -1;
    background-color: white;
    -webkit-box-shadow: 200px 150px 0px 0px #dfbdca;
            box-shadow: 200px 150px 0px 0px #dfbdca;
    -webkit-animation: bodyaferanim 40s ease-in-out infinite;
            animation: bodyaferanim 40s ease-in-out infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }

  @-webkit-keyframes animatetop {
    0% {
      top: -300px;
      opacity: 0;
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    80% {
      top: 20px;
    }
    100% {
      top: 0;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

  @keyframes animatetop {
    0% {
      top: -300px;
      opacity: 0;
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    80% {
      top: 20px;
    }
    100% {
      top: 0;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }

  @-webkit-keyframes animatefade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes animatefade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #educaiton .logo {
    max-height: 70px;
    display: block;
    margin: 6px auto;
  }

  #educaiton #heroSvg,
  #educaiton #chooseSVG {
    position: absolute;
    left: 0;
    max-width: 48vw;
    max-height: 77vh;
    margin: 2rem 1rem 1rem 2rem;
  }

  #educaiton #chooseSVG {
    margin: 2rem 1rem 1rem 0rem;
    z-index: -1;
  }

  #educaiton #blurb {
    max-width: 488px;
    min-height: 65vh;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  #educaiton #blurb ul {
    font-size: 1.2rem;
  }

  #educaiton #blurb #eduTagline {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 2rem;
    border: 4px solid rgba(154, 18, 69, 0.15);
  }

  #educaiton #blurb #eduTagline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(154, 18, 69, 0.15);
  }

  #educaiton #blurb #eduTagline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(154, 18, 69, 0.15);
  }

  #educaiton #blurb .btn.accent {
    margin-right: 1rem;
  }

  #educaiton .info-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 1rem 0px;
  }

  #educaiton .info-cols>.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-bottom: 2px solid #9A1144;
    border-bottom: 2px solid var(--main-color, #9A1144);
    margin: 1rem;
    min-width: 100px;
    max-width: 250px;
    min-height: 290px;
  }

  #educaiton .hero-carousel-container {
    margin-bottom: 5rem;
  }

  #educaiton #pageDemo {
    background: #fff;
    position: relative;
    margin: 1rem -8rem 1rem auto;
    text-align: center;
    -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
    max-width: 750px;
    z-index: 1;
  }

  #educaiton #pageDemo img.logo {
    display: block;
    position: absolute;
    width: 100px;
    right: -45px;
    top: 285px;
    -webkit-transform: rotate(13deg);
        -ms-transform: rotate(13deg);
            transform: rotate(13deg);
  }

  #educaiton #pageDemo>footer,
  #educaiton #pageDemo>h2 {
    background:  #429BE9;
    background: var(--blue-color, #429BE9);
    width: 100%;
    display: block;
    padding: 1rem 0px;
    color: #fff;
  }

  #educaiton #pageDemo ul {
    padding: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #educaiton #pageDemo ul li {
    width: 30%;
    min-width: 150px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  #educaiton #consentua-widget {
    border: 0;
    width: 100%;
    height: 100vh;
  }

  #buyModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: animatefade;
            animation-name: animatefade;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
  }

  #buyModal .plan {
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 2rem 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    margin: 15% auto;
    padding: 1rem;
    max-width: 400px;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 9px black;
            box-shadow: inset 0 0 9px black;
    text-align: center;
    -webkit-animation-name: animatetop;
            animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
  }

  #buyModal .plan .plan-header {
    border-radius: 10px 10px 0 0;
    background: #fff;
    padding-bottom: 0.6rem;
  }

  #buyModal .plan .plan-header .price>div {
    font-size: 1.6rem;
    margin: 1rem auto;
  }

  #buyModal .plan ul {
    list-style: none;
    padding: 0px 0.6rem 0.6rem 0.6rem;
  }

  #buyModal .plan .btn {
    margin: 0.6rem;
  }
  .col p, #blurb p{
    width: 100%
  }
  @media only screen and (max-width: 550px), screen and (max-height: 660px) {
    #buyModal .plan{
    min-width: 100vw;
    margin: 0;
    padding: 0px;
    border-radius: 0px;
    overflow: auto;
    height: 100vh;
  }
  }
  @media only screen and (max-width: 1000px) {
    #educaiton #heroSvg {
      position: relative;
      display: block;
      max-width: 70vw;
      margin: -3rem auto -1rem 18%;
    }
    #educaiton #blurb {
      max-width: 500px;
      min-height: 30vh;
      margin: 0px auto;
    }
    #educaiton #pageDemo {
      max-width: 90vw;
    }
  }

  @media only screen and (max-width: 1300px) {
    #educaiton #chooseSVG {
      position: relative;
      display: block;
      max-width: 70vw;
      max-height: 400px;
      margin: -5rem auto 1rem auto;
    }
    #educaiton #pageDemo {
      margin: 0rem auto;
    }
    #educaiton #pageDemo img.logo{
      display: none;
    }
  }

  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    #educaiton #heroSvg,
    #educaiton #chooseSVG {
      margin: 0rem auto -1rem 18%;
    }
  }

  @media only screen and (max-width: 550px) {
    #educaiton #heroSvg {
      margin: 0px auto;
    }
    #educaiton #pageDemo {
      -webkit-box-shadow: none;
              box-shadow: none;
      max-width: 100vw;
    }
  }
</style>
<div id="educaiton">
  <a href="{{ site.url }}">
    <img class="logo" src="./imgs/logo/consentua-logo-tm.svg">
  </a>
  {% include person-consenting-svg.html %}
  <div id="blurb">
    <h1>Consent for Schools</h1>
    <!-- <p>Consentua™ gives parents choice and control over how their and their children's personal data is used by schools. 
      It helps schools build respectful and trusted relationships with parents and learners, and facilitates compliance 
      with data protection laws. </p>
    <ul>
      <li>No installation fee</li>
      <li>No consulting</li>
      <li>Ready in minutes</li>
    </ul> -->
    <p>Consentua™ solves the challenges schools leaders face dealing with pupils personal data.</p>
    <p>Better still it sits in your current website, is ready in minutes and requires no installation fee or consultancy to use.</p>
    <ul>
      <li>Reduce burden of paperwork</li>
      <li>Increase trust with parents</li>
      <li>Cut paper - save money</li>
    </ul>
    <span>
      <a class="btn btn-accent" onclick="toDemo()">View Demo
        <i class="far fa-laptop"></i>
      </a>
      <a class="btn btn-green" onclick="openBuySchoolModal()">
        Buy Now
        <i class="far fa-shopping-cart"></i>
      </a>
    </span>
    <h3 id="eduTagline" onclick="openBuySchoolModal()">Just £99 a year!</h3>
  </div>
  <div class="container info-cols">
    <div class="col">
      <i class="fal fa-id-card fa-4x" data-fa-transform="flip-h"></i>
      <p>Use Consentua to handle all your consent and opt-ins under a single user record that can be easily updated by parents
      or learners, as appropriate.</p>
    </div>
    <div class="col">
      <i class="fal fa-school fa-4x"></i>
      <p>Integrate with emails to easily gain consent for non-statutory data processing, and the reassurance that consent
      can be audited, or easily withdrawn, in line with the law.</p>
    </div>
    <div class="col">
      <i class="fal fa-shield-check fa-4x"></i>
      <p>Query for consent by pupil and by purpose. It's easy and quick to check both at the human and machine-to-machine level,
        giving you the flexibility to integrate with manual or automated processes.
      </p>
    </div>
  </div>
  {% include choose-svg.html %}
  <div id="pageDemo">
    <img class="logo" src="./imgs/logo/consentua-lock.png">
    <h2>Consent for your child</h2>
    <ul>
      <li>
        <i class="fal fa-id-badge fa-3x"></i>
        <span>Jimmy Johnson</span>
      </li>
      <li>
        <i class="fal fa-school fa-3x"></i>
        <span>Greybell School</span>
      </li>
    </ul>
    <iframe id="consentua-widget" src="" style="box-model: border-box; width: 100%; max-width: 600px;"></iframe>
    <footer>
      <i class="fal fa-school fa-4x"></i>
      <br> Greybell School
    </footer>
  </div>
  <div class="container">
    <div class="hero-carousel-container">{% include hero-carousel.html %}</div>
    <div class="bottom-cta">
      <span>
        <h1>Ready to get started?</h1>
        <h2>Only £99/year for Schools</h2>
      </span>
      <span>
        <a href="{{ site.url }}/contact.html" class="btn btn-accent">Contact Sales</a>
        <a class="btn btn-green" onclick="openBuySchoolModal()">Buy Now
          <i class="far fa-shopping-cart"></i>
        </a>
      </span>
    </div>
  </div>
  </section>
  <div id="buyModal">
    <div class="plan">
      <div class="plan-header">
        <h1>School Yearly plan</h1>
        <section class="price">
          <div>
            <span>£99</span>/yr
          </div>
        </section>
      </div>
      <section class="plan-body">
        <div>
          <p>Yearly licence for schools</p>
          <p>Includes:</p>
          <ul>
            <li>Unlimited API calls per annum
              <i>within reason</i>
            </li>
            <li>Unlimited consent collection</li>
            <li>Unlimited consent checks</li>
            <li>
              <b>2</b> Admin Accounts</li>
            <li>Community Support</li>
          </ul>
          <button class="btn btn-grey" onclick="closeBuySchoolModal()">Close</button>
          <a class="btn btn-green" onclick="toBuyPage()">Buy</a>
        </div>
      </section>
    </div>
  </div>
  <script>
    // Consentua
    let cid = '1', // Client ID
      sid = '100', // Consentua service ID
      skey = 'ffe76fbe-cc70-4b99-bbd9-69ff8098755d', // Consentua service key
      tid = '76', // Template ID
      uid = "user-consentuaWebsiteDemo",
      cb = function (msg) {
        console.log("Consent received from Consentua", msg)
      },
      iframe = document.getElementById("consentua-widget"),
      cwrap = new ConsentuaUIWrapper(iframe, cid, uid, tid, sid, skey, cb);


    function toBuyPage(e) {
      var imgtag1 = document.createElement('img');
          imgtag1.height = '1';
          imgtag1.width = '1';
          imgtag1.style = 'border-style:none;';
          imgtag1.alt = '';
          imgtag1.src = 'https://dc.ads.linkedin.com/collect/?pid=400889&conversionId=479058&fmt=gif'
      window.location.href = '{{ site.url }}/buy-schools';
    }
    // scroll to demo
    function toDemo(e) {
      document.getElementById('pageDemo').scrollIntoView({
        behavior: 'smooth',
        block: 'start',
        inline: 'start'
      });
    }

    function openBuySchoolModal(e) {
      document.getElementById('buyModal').style.display = 'block';
    }

    function closeBuySchoolModal(e) {
      document.getElementById('buyModal').style.display = 'none';
    }
    // close modal on modal bg click
    window.onclick = function (e) {
      if (e.target == document.getElementById('buyModal')) {
        document.getElementById('buyModal').style.display = "none";
      }
    }
  </script>
