--- 
layout: landing 
title: Schools 
nav: false 
---
<style>
    body:after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 741px;
    right: 0;
    bottom: 0;
    left: -160px;
    border: 80px solid #fff;
    border-radius: 50px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-24deg);
    z-index: -1;
    background-color: white;
    box-shadow: 200px 150px 0px 0px #dfbdca;
    }
    
    #educaiton #heroSvg{
    position: absolute;
    left: 0;
    max-width: 48vw;
    margin: 2rem 1rem 1rem 2rem;
    }

    #educaiton #blurb {
    max-width: 500px;
    min-height: 65vh;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    justify-content: center;
    }

  #educaiton #blurb .btn.accent{
    margin-right: 1rem;
  }
  #educaiton .info-cols{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 6rem 0px;
  }
  #educaiton .info-cols > .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom: 2px solid var(--main-color);
        padding: 1rem;
        margin: 1rem;
  }
</style>
<section id="educaiton">
    {% include person-consenting-svg.html %}
    <div id="blurb">
    <h1>Consent for schools</h1>
    <p>Consentua™ helps build trust. Giving users choice and control over their personal data. Enabling a more trusted and transparent
        relationship between the customer and the service provider.</p>
    <span>
        <a class="btn btn-accent" href="{{ site.url }}/demo.html">View Demo
        <i class="far fa-laptop"></i>
        </a>
        <a class="btn btn-green" href="{{ site.url }}/pricing.html">Buy Now
        <i class="far fa-shopping-cart"></i>
        </a>
    </span>
    </div>
    <div class="container info-cols">
        <div class="col"><i class="far fa-id-badge fa-4x"></i><h2>col1</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam numquam sequi iure ipsum, esse quos dolorum accusantium rerum rem, incidunt et aspernatur, nisi dolore atque maxime facilis eaque doloribus obcaecati?</p></div>
        <div class="col"><i class="fas fa-child fa-4x"></i><h2>col2</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam numquam sequi iure ipsum, esse quos dolorum accusantium rerum rem, incidunt et aspernatur, nisi dolore atque maxime facilis eaque doloribus obcaecati?</p></div>
        <div class="col"><i class="far fa-plug fa-4x"></i><h2>col3</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam numquam sequi iure ipsum, esse quos dolorum accusantium rerum rem, incidunt et aspernatur, nisi dolore atque maxime facilis eaque doloribus obcaecati?</p></div>
    </div>
    <div class="container">{% include hero-carousel.html %}</div>
    <div class="container"><div style="padding:56.25% 0 0 0;position:relative;margin: 3rem 0px"><iframe src="https://player.vimeo.com/video/235892308?color=c7346a&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></div>
    <div class="container">
            <div class="bottom-cta">
              <span>
                <h1>Ready to get started?</h1>
                <h2>Get in touch</h2><!--, or view the web demo.</h2>-->
              </span>
              <span>
                <a href="{{ site.url }}/contact.html" class="btn btn-black">Contact Sales</a>
              </span>
            </div>
          </div>
</section>