--- 
layout: page 
title: FAQ 
order: 4 
nav: false 
---
<style>
  body:after {
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 741px;
    right: 0;
    bottom: 0;
    left: -160px;
    border: 80px solid #fff;
    border-radius: 50px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-24deg);
    z-index: -1;
    background-color: white;
    box-shadow: 200px 150px 0px 0px #dfbdca;
  }
#faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
#faq label{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 50px;
}
#faq label:nth-child(odd){
    background-color: var(--white-2-color, #f6f6f6);
}
#faq label:hover{
    background-color: var(--accent-color);
}
#faq input{
    display: none;
}
#faq .faq-link{
    margin: 1rem auto;
}
#faq .faq-expand {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    margin: 1rem;
    max-width: 650px;
}
#faq .faq-expand section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#faq .faq-expand p{
    padding: 0 1rem;
}
{% for faq in site.data.faq %}
#faq #toggle{{ faq.id }}:checked ~ #expand{{ faq.id }} {
  height: 250px;
  overflow: auto;
}
#faq #toggle{{ faq.id }} ~ label .icon{{ faq.id }} {
  transition: all 0.3s ease;
  transform: rotate(0deg);
}
#faq #toggle{{ faq.id }}:checked ~ label .icon{{ faq.id }} {
  transform: rotate(90deg);
}
{% endfor %}
</style>
<section id="faq">
{% for faq in site.data.faq %}
<input id="toggle{{ faq.id }}" type="checkbox">
<label for="toggle{{ faq.id }}">{{ faq.question }} <i class="far fa-chevron-right icon{{ faq.id }}"></i></label>
<div id="expand{{ faq.id }}" class="faq-expand">
    <section>
        <p>{{ faq.p1 }}</p>
        <p>{{ faq.p2 }}</p>
        <img class="faq-img" src="{{ faq.imageURL }}"/>
        {% if  faq.linkURL %}
        <a class="btn btn-black-line faq-link" href="{{ faq.linkURL }}">{{ faq.linkText }}</a>
        {% endif %}
    </section>
</div>
{% endfor %}
</section>