<script src="{{ site.url}}/js/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="{{ site.url}}/css/flickity.css" media="screen">
<style>
    .main-carousel {
        margin: 1rem auto;
        max-width: 90%;
    }

    .carousel-cell {
        width: 95%;
    }

    .flickity-prev-next-button {
        background-color: var(--accent-color);
    }

    .cell {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        /* flex-wrap: wrap; */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        margin: auto;
    }

    .cell div {
        padding: 1rem;
    }

    .cell img {
        /* width: 40%; */
        height: 400px;
        max-width: 300px;
    }

    .cell .cell-text {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        font-size: 1.4rem;
        text-align: center;
        background-color: var(--grey-2-color);
        border-radius: 10px;
    }

    @media only screen and (max-width: 800px) {
        .cell {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .cell div{
            padding: 0;
        }
    }
</style>
<div class="main-carousel" data-flickity='{"wrapAround": true, "imagesLoaded":true, "autoPlay": true }'>
    <div class="carousel-cell">
        <div class="cell">
            <div>
                <img src="{{ site.url }}/imgs/undraw_setup_obqo.svg">
            </div>
            <div class="cell-text">
                <p>Enabling the easy capture of end user consent to process their personal data.
                </p>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="cell">
            <div>
                <img src="{{ site.url }}/imgs/undraw_choose_80qg.svg">
            </div>
            <div class="cell-text">
                <p>Consent captured in a clear, consistent, unambiguous and ongoing manner.
                </p>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="cell">
            <div>
                <img src="{{ site.url }}/imgs/undraw_server_q2pb.svg">
            </div>
            <div class="cell-text">
                <p>Consentua is an open standards API. It uses a series of widgets/plugins to enable seamless integration and a secure data repository
                containing your consent receipts.
                </p>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="cell">
            <div>
                <img src="{{ site.url }}/imgs/undraw_customer_survey_f9ur.svg">
            </div>
            <div class="cell-text">
                <p>You can fully customize your consent service.</p>
                <p>Including: Language; Access Control; Data Type Description and Purpose Definition.
                </p>
            </div>
        </div>
    </div>
</div>
