<style>
    #social{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 5rem auto;
        padding: 3rem;
    }
</style>
<section id="social">
    <a class="twitter-timeline" data-dnt="true" data-width="450" data-height="500" data-link-color="#9a1144" href="https://twitter.com/{{ site.twitter_username }}"></a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
     {% include events.html %}

</section>