<style>
    #social{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 1rem auto;
        padding: 3rem;
    }
</style>
<section id="social">
    <a class="twitter-timeline" data-dnt="true" data-width="500" data-height="700" data-link-color="#9a1144" href="https://twitter.com/{{ site.twitter_username }}"></a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    

</section>
