/*Styles for subpages*/

body {
  background-color: #9A1144;
}

nav {
  background-color: #9A1144;
}

#splash {
  height: 35vh;
}

.small-splash {
  height: 10vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

#logo {
  margin: 0;
  padding: 0.2em;
  max-width: 35%;
  min-height: 40px;
  /*  height: 100%;
  max-height: 20%;*/
  margin-top: 10vh;
  margin-left: 33%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  /*  top: 0 !important;
  left: 0 !important;
  margin-left: 5%;
  margin-top: 3%;*/
}

.small-logo img {
  height: 7vh;
  margin-left: 0px !important;
  margin-top: 3px !important;
}


/*Dashboard styles*/

.hidden {
  visibility: hidden;
  display: none;
}


/* general utility classes */

.warn {
  color: lightsalmon;
}

.tabcontent {
  margin: 1em auto;
  -webkit-animation: fadeEffect 0.7s;
  animation: fadeEffect 0.7s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  color: #ddd;
  margin-top: 10vh;
  /*padding-top: 10vh;*/
  /* icons */
}

.menu ul {
  margin: 0px;
  padding: 0px;
}

.menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  list-style: none;
  transition-duration: 100ms;
}

.menu li a,
.menu li label {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 0.9em;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 5px solid #fff;
  cursor: pointer;
}

.menu .active {
  background-color: #373737;
  border-left: 5px solid #fff;
}

.menu .active:hover {
  border-left: 0px solid #fff;
}

.menu li:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu .sub-menu {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translate(0, 0);
  background-color: #A42856;
  line-height: 0.5em;
  padding-left: 15%;
}

.menu .sub-menu a {
  color: #fff;
}

.menu input[type=checkbox] {
  position: absolute;
  display: none;
}

.menu input[type=checkbox]:checked+li+.sub-menu {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  display: none;
  transform: translate(0, -50%);
}

.menu label:after {
  font-family: FontAwesome;
  margin-left: 1em;
  display: inline-block;
  content: "\f107";
}

.menu input[type=checkbox]:checked+li>label:after {
  content: "\f105";
}

.menu .fa {
  padding-right: 5px;
}


/* panels */

.panel {
  background-color: #fff;
  color: #212121;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  border-radius: .3rem;
  margin: 2%;
  padding: 1%;
}

.panel>* {
  max-width: 90%;
  margin: 1em auto;
}


/* feedback */

.error {
  background-color: #ffe9e0;
  border-color: #ffc4ad;
}

label.error {
  padding: .2em .5em;
}

.feedback {
  background: #fcfae6;
  color: #857a11;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px khaki;
}

.feedback:before {
  content: "";
  font-family: fontawesome;
  color: #e4d232;
  margin-left: -1.5em;
  margin-right: .5em;
}

.feedback li:before {
  border-left-color: #f6f0b9;
}

.feedback.error {
  background: #ffe9e0;
  color: #942a00;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px lightsalmon;
}

.feedback.error:before {
  content: "";
  font-family: fontawesome;
  color: #ff5714;
  margin-left: -1.5em;
  margin-right: .5em;
}

.feedback.error li:before {
  border-left-color: #ffc4ad;
}

.feedback.success {
  background: #98eee6;
  color: #08322e;
  margin: 1em;
  padding: .5em .5em .5em 2em;
  border: solid 1px turquoise;
}

.feedback.success:before {
  content: "";
  font-family: fontawesome;
  color: #1aa093;
  margin-left: -1.5em;
  margin-right: .5em;
}

.feedback.success li:before {
  border-left-color: #6ce7db;
}


/* tables */

table {
  border-collapse: collapse;
  width: 96%;
}

th {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  padding-bottom: 14px;
}

tr:not(:first-child):hover {
  background: rgba(0, 0, 0, 0.1);
}

td {
  line-height: 40px;
  font-weight: 300;
  padding: 0 10px;
}

.important td:nth-child(3),
.important th:nth-child(3) {
  text-align: center;
}

.important td:nth-child(4),
.important th:nth-child(4) {
  text-align: right;
}

.clickable-table tr:not(:first-child):hover {
  background: rgba(0, 0, 0, 0.1);
  color: #9A1144;
  text-decoration: underline;
  cursor: pointer;
}


/*code styles*/

pre {
  max-width: 80% !important;
  margin: 1.5em auto !important;
}

@media screen and (min-width: 600px) {
  .menu {
    position: fixed;
    width: 200px;
    top: 75px;
    bottom: 0px;
    margin-top: 0px;
  }
  .menu li a,
  .menu li label {
    padding: 0.6em;
  }
  .tabcontent {
    margin: 75px 0 40px 200px;
  }
  .tabcontent:after {
    content: "";
    display: table;
    clear: both;
  }
  .panel {
    margin: 2% 0 0 2%;
    float: left;
    width: 96%;
  }
  .panel:after {
    content: "";
    display: table;
    clear: both;
  }
  .box,
  .onethird,
  .twothirds {
    padding: 1rem;
  }
  .onethird {
    width: 33.333%;
    float: left;
  }
  .twothirds {
    width: 66%;
    float: left;
  }
}

@media screen and (min-width: 900px) {
  .panel {
    width: 45%;
    clear: none;
  }
  .panel.important {
    width: 94%;
  }
  .panel.important>* {
    max-width: 80%;
  }
  .panel.secondary {
    width: 23%;
  }
}