/*Styles for subpages*/

body {
  background-color: #9A1144;
}

nav {
  background-color: #9A1144;
}

#splash {
  height: 35vh;
}

.small-splash {
  height: 10vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

#logo {
  margin: 0;
  padding: 0.2em;
  max-width: 35%;
  min-height: 40px;
  /*  height: 100%;
  max-height: 20%;*/
  margin-top: 10vh;
  margin-left: 33%;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  /*  top: 0 !important;
  left: 0 !important;
  margin-left: 5%;
  margin-top: 3%;*/
}

.small-logo img {
  height: 7vh;
  margin-left: 0px !important;
  margin-top: 3px !important;
}


/*Login page styles*/

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

.row {
  float: left;
  width: 100%;
}

.row .col {
  float: left;
}

.row .cor {
  float: right;
}

.row .col,
.row .cor {
  width: 100%;
}

.row .col-1,
.row .cor-1 {
  width: 8.33333%;
}

.row .col-2,
.row .cor-2 {
  width: 16.66667%;
}

.row .col-3,
.row .cor-3 {
  width: 25%;
}

.row .col-4,
.row .cor-4 {
  width: 33.33333%;
}

.row .col-5,
.row .cor-5 {
  width: 41.66667%;
}

.row .col-6,
.row .cor-6 {
  width: 50%;
}

.row .col-7,
.row .cor-7 {
  width: 58.33333%;
}

.row .col-8,
.row .cor-8 {
  width: 66.66667%;
}

.row .col-9,
.row .cor-9 {
  width: 75%;
}

.row .col-10,
.row .cor-10 {
  width: 83.33333%;
}

.row .col-11,
.row .cor-11 {
  width: 91.66667%;
}

.row .col-12,
.row .cor-12 {
  width: 100%;
}

@media all and (max-width: 800px) {
  .row .col,
  .row .cor {
    width: 100% !important;
  }
}

.login {
  margin: 40vh auto;
  padding: 10px;
}

.login--wrap {
  max-width: 900px;
  min-width: 200px;
  margin: 50px auto;
  /*box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);*/
}

.login--l,
.login--s {
  height: 630px;
  position: relative;
}

.login--s {
  background-color: #373737;
  z-index: 0;
}

.login--s * {
  color: #fff;
}

.login--s .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}

.login--s .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.login--s .title .text {
  position: relative;
  background-color: #373737;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}

.login--s .title .text {
  color: #fff;
}

.login--s label input {
  color: #fff;
  border-bottom-color: #fff;
}

.login--alt {
  background-color: #E84A5F;
}

.login--alt .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}

.login--alt .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.login--alt .title .text {
  position: relative;
  background-color: #E84A5F;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}

.login--alt .title .text {
  color: #fff;
}

.login--l {
  background-color: #fff;
}

.login--l .title {
  text-align: center;
  position: relative;
  margin: 30px auto;
}

.login--l .title::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #2a363b;
}

.login--l .title .text {
  position: relative;
  background-color: #fff;
  padding: 3px 10px;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}

.login--l .title .text {
  color: #212121;
}

.login--l * {
  color: #212121;
}

.login--body {
  padding: 0 20px;
}

.login--img {
  max-width: 60%;
  margin: 5px auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sbmt {
  text-align: right;
  padding-right: 20px;
}

.sbmt--btn {
  padding: 10px 15px;
  background-color: #9A1144;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sbmt--btn i {
  color: #fff;
  padding-left: 5px;
}

.sbmt--btn:hover,
.sbmt--btn:focus,
.sbmt--btn:active {
  background-color: #212121;
}

label {
  display: block;
  margin: 20px auto;
  padding: 10px;
}

label .label {
  padding: 0 0 2px 10px;
}

label input {
  display: block;
  width: 95%;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  background-color: transparent;
  padding: 8px 15px;
}

.title {
  font-size: 1.3em;
  padding: 20px 0;
  text-align: center;
}

.btn-set {
  min-width: 200px;
  max-width: 500px;
  margin: 20px auto;
}