/*Colours
  Main: #9A1144 , (154,17,68);
  Secondary: #A42856 , (164,40,86);
  Text: #212121 / #FFF;
  Whites: #FFF;
  Greys: #c7c7c7, #d4d4d4, #e1e1e1, #eeeeee;
  Darks: #212121, #373737, #000;
*/
/*selection styles*/
::selection {
    background: #212121;
    color: #9A1144; /* WebKit/Blink Browsers */ 
}
::-moz-selection {
    background: #212121;
    color: #9A1144; /* Gecko Browsers */
}

@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}

body {
    max-width: 100vw;
    color: #212121;
    background-color: #F6F6F6;
	  font-family: 'Raleway', sans-serif;
    font-size: 16px; /*fallback*/
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: .04em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
h1, h2, h3{
    text-align: center;  
}
a{
  color: #9A1144;
}
section {
    /*padding: 6em 2em;*/
    margin: 0 auto;
}

.active{
	background: #212121;
}

/*have header start as #9A1144 and scroll into a dark background*/
header{
    /*background: #9A1144;*/
    background: rgba(154,17,68,0.0);
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 200;
    transition: transform 0.3s ease-out;
    max-height: 10vh;
}

header .toggle-menu{
    display: none;
}
header .logo-img{
    float: left;
    max-height: 35px;
    max-width: 35px;
    margin-top: 10px;
    margin-right: 20px;
}

nav{
    float: right;
    margin: 0.5em;
}

.menuItems {
padding: 0;
 margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}
.menuItems * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menuItems li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}
.menuItems a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.menuItems a:before,
.menuItems a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #fff;
  width: 0;
}
.menuItems a:before {
  top: 0;
  right: 0;
}
.menuItems a:after {
  bottom: 0;
  left: 0;
}
.menuItems a:hover,
.menuItems .current a {
  color: #ffffff;
}
.menuItems a:hover:before,
.menuItems .current a:before,
.menuItems a:hover:after,
.menuItems .current a:after {
  width: 100%;
}
.container{
  position: relative;
}
#splash{
	height: 100vh;
  width: 100%;
  min-height:56px;
  background-color: #9A1144;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 30;
  overflow: hidden;
}
#splash a{
  text-decoration: none;
}
#logo, #blurb{
    position: absolute;
    /*top: 50%;*/
}

#logo{
  margin: 0;
  padding: 0.2em;
  max-width: 35%;
  min-height: 40px;
/*  height: 100%;
  max-height: 20%;*/
  margin-top: 40vh;
  margin-left: 8vw;
  top:0;
  left: 0;
  right: auto;
  bottom: auto;
/*  top: 0 !important;
  left: 0 !important;
  margin-left: 5%;
  margin-top: 3%;*/
}
#blurb{
  text-align: left;
    left: 50%;
    top: 30%;
    max-width: 500px;
    margin: 0 auto 0 auto;
    padding: 35px 0 0 0;
    font-size: 1.2em;
}
#blurb:after{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -400px; right: -400px; bottom: -400px; left: -400px;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    /*background: rgba(255,255,255,0.08);*/
    border: 80px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    transform: rotate(-30deg);
    animation: spin 60s infinite linear;
    z-index: -1;
}
#blurb p a{
  color: #fff;
  text-decoration: underline;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    border: 1px solid #fff;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
.btn.smaller{
    padding: 10px 25px;
}
.btn .fa{
    margin-left: 10px;
}
#about{
	margin-top: 170vh;
  /*margin-bottom: 300px;*/
  min-height: 500px;
  text-align: left;
}
#about img{
  float: right;
  max-height: 400px;
  max-width: 500px;
}
#about article ,#GDPR article{
  /*max-width: calc(100vw - 500px);*/
  margin:2em auto;
}
#about h1{
  max-width: 70vw;
  margin: 1em auto;
}
#about p , #GDPR p{
  max-width: 70vw;
  margin:2em auto; 
}
#partners{
  /*width: 100%;*/
  background-color: #d4d4d4;
  /*text-align: center;*/
}
#partner-imgs{
  /*height: 140px;*/
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: 0.7em auto;
  padding: 0 ;
}
#partner-imgs i{
  visibility: hidden;
  flex: 2;
  text-align: center;
}
#partner-imgs li{
  /*float: left;*/
  flex: 1;
  margin:1em;
}
#partner-imgs li a img{
  transition: all .13s ease-in-out;
  max-width: 200px;
  max-height: 100px;  
}
#partner-imgs li a img:hover{
/*-webkit-box-shadow: 0px 0px 20px 1px rgba(33,33,33,0.4); 
-moz-box-shadow: 0px 0px 20px 1px rgba(33,33,33,0.4);
box-shadow: 0px 0px 20px 1px rgba(33,33,33,0.4);*/
 -webkit-filter: drop-shadow(0px 0px 8px rgba(33,33,33,0.4)); /*proper shadows for png imgs*/
  filter: drop-shadow(0px 0px 8px rgba(33,33,33,0.4));
}
#GDPR{
  padding-top: 2em;
    min-height: 500px;
}
#GDPR img{
  margin: 3.5em;
  float: left;
  max-height: 400px;
  max-width: 300px;
}
#GDPR article{
  max-width: 65vw;
  /*float: right;*/
  margin-right: 8em;
}
#problem-answer{
  width: 100%;
  overflow: hidden;
}
#problem-answer div{
  position: relative;
  float: left;
  width: 100%;
  padding: 2em 0;
  color: #fff;
  min-height: 45vh;
  background-color: #9A1144;
}
#problem-answer div:before{
  content: '';
  display: block;
  background-color: rgba(164,40,86,0.5);
  position: absolute;
  /*top: 0; */right: 0; bottom: 50px;/* left: 0;*/
  height: 50px;
  width: 50%;
}
#problem-answer div:after{
  content: '';
  display: block;
  background-color: rgba(164,40,86,0.8);
  position: absolute;
  /*top: 0; */right: 0; bottom: 0;/* left: 0;*/
  height: 50px;
  width: 50%;
}
#problem-answer div img{
  /*float: right;*/
  width: 100%;
  max-width: 40vw;
  max-height: 250px;
  position: absolute;
  right: 50px; top:0;
  margin: 3em;
  opacity: 0;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}
#problem-answer div span{
  float: left;
  /*max-width: calc(50% - 2em);*/
  max-width: 45vw;
  padding: 0px 2em;
}
#problem-answer div:nth-child(2){
  float: right;
  background-color: #a42856;
}
#problem-answer div:nth-child(2):before{
top: 50px; left: 0;
background-color: rgba(154,17,68,0.3);
}
#problem-answer div:nth-child(2):after{
top: 0; left: 0;
background-color: rgba(154,17,68,0.5);
}
#problem-answer div:nth-child(2) img{
  left: 50px; bottom: 0; top: initial;
}
#problem-answer div:nth-child(2) span{
  float: right;
  padding-top: 5em;
}

#features{
  background-color: #212121;
  /*margin-top: calc(65vh + 65vh + 16em);*/
  padding: 3em;
}
#features .coloums{
  display: flex;
  flex-direction: row;
  max-width: 900px;
   margin: 0 auto;
}
#features .feature{
  margin-right: 40px;
  overflow: hidden;
  color: #fff;
  flex:1;
}
#features .feature img{
  max-width: 100%;
}
#features .feature h2{
  border-bottom: 1px solid #9A1144;
}

#how-it-works{
  /*padding: 6em 0;*/
  padding-top: 2em;
}
#how-it-works ul{
  border: 50px solid #c7c7c7;
  max-width: 60vw;
  margin: 2em auto;
  list-style: none;
  padding: 0;
}
#how-it-works ul li{
  padding: 1em 2em;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
}
#how-it-works ul li i{
  padding: 0 1em;
  height: 100%;
}
#how-it-works ul li:nth-child(2n+0) {
    background-color: #e1e1e1;
}
.screenshots{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  max-width: 80vw;
  margin: 13% auto;
}
.screenshots span{
	max-height: 60vh;
  margin: 1em;
}
.screenshots span img{
  max-height: 60vh;
  margin: 1em 0.5em;
}
.screenshots span p{
  text-align: center;
  margin-top: 0.3em;
}

#video{
  max-width: 100vw;
  max-height: 480px;
  background-color: #ddd;
  text-align: center;
  margin: 6em 0;
}
#video span iframe{
  margin: 0 auto;
  width: 70%;
}
#PIA{
  margin: 3.5em 0;
}
#PIA article{
  margin: 0 auto;
  max-width: 60vw;
}
#CTA{
  text-align: center;
  background-color: #9A1144;
  padding: 2.5em;
}
#CTA:after{
    content: "";
    display: block;
    position: absolute;
    width: 600px;
    height: 100px;
    top: -400px; right: -400px; bottom: -400px; left: -400px;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    /*background: rgba(255,255,255,0.08);*/
    border: 80px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    z-index: -1;
}
#contact{
    background: #e1e1e1;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 3em;
}
#contact p{
  margin-bottom:3em;
  font-size: 1.2em;
}
#contact div{
	max-width: 70vw;
	margin: 0 auto;
}
#contact .input{
    width: 47%;
    float: left;
}
#contact .input:nth-of-type(odd){
    margin-right: 6%;
}
#contact .message{
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}
#contact .input input{
    display: block;
    width: 100%;
    background: #c7c7c7;
    border: 0;
    padding: 10px 15px;
}
#contact .message textarea{
    display: block;
    width: 100%;
    height: 200px;
    /*background: rgba(164,40,86,0.7);*/
    background-color: #c7c7c7;
    border: 0;
    padding: 10px 15px;
    resize: vertical;
}
#contact label{
    position: relative;
    z-index: 10;
}
#contact label span{
    display: block;
    text-align: left;
    font-size: 14px;
}
#contact label span .fa{
    margin-right: 7px;
}
#contact .submit{
    display: block;
    text-align: center;
    padding-top: 40px;
}
#contact h2{
    margin-bottom: 40px;
}
#contact .btn{
  color: #212121;
  border-color: #212121;
}
#contact .btn:hover{
  background: rgba(0,0,0,0.2);
}
footer{
	background-color: #212121;
  color: #fff;
}
footer #copyright{
  bottom: 0;
  padding: 2em;
}
footer #copyright a{
  color: #fff;
}
footer #copyright p{
  font-size: 0.7em;
  margin:0px;
}


#pinContainer {
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  margin-bottom: 3em;
}
.panel {
  height: 80% ;
  width: 100%;
  position: absolute;
  text-align:center;
}
/*.panel{
  width: 100%;
  height: 50vh;
  margin-bottom: 500px;
}*/
.one{background-color: pink;}.two{background-color: brown;}.three{background-color: red;}
.four{background-color: green;}.five{background-color: aqua;}.six{background-color: blue;}