/* Colours
   ========================================================================== */
:root{
--main-color: #9A1144;
--secondary-color: #A32655;
--accent-color: #FFC021;
--red-color: #F44336;
--green-color: #4CAF50;
--white-1-color: #FFF;
--white-2-color: #F6F6F6;
--grey-1-color: #eeeeee;
--grey-2-color: #E1E1E1;
--grey-3-color: #d4d4d4;
--grey-4-color: #c7c7c7;
--dark-1-color: #000;
--dark-2-color: #212121;
--dark-3-color: #373737;
}

/* selection styles
   ========================================================================== */
::-moz-selection {
  background: var(--dark-2-color, #212121);
  color: var(--main-color, #9A1144);
  /* WebKit/Blink Browsers */
}

::selection {
  background: var(--dark-2-color, #212121);
  color: var(--main-color, #9A1144);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--dark-2-color, #212121);
  color: var(--main-color, #9A1144);
  /* Gecko Browsers */
}

@-ms-viewport {
  width: device-width;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
  }
}

body {
  max-width: 100vw;
  color: var(--dark-2-color, #212121);
  background-color: var(--white-2-color, #F6F6F6);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*fallback*/
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  letter-spacing: .04em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

h1 {
  font-size: 2.3rem;
}

h1 .fa {
  font-size: 2em;
  margin: 0px 0.5em;
  color: var(--main-color, #9A1144);
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

a {
  color: var(--main-color, #9A1144);
}

b {
  font-weight: 800;
}
section {
  /*padding: 6em 2em;*/
  margin: 0 auto;
}


#top{
  position: absolute;
  top: 0;
}
header {
  /*background: var(--main-color, #9A1144);*/
  background: rgba(154, 17, 68, 0.0);
  /*padding: 0 20px;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  max-height: 10vh;
}

header .toggle-menu {
  display: none;
}

header .logo-img {
  float: left;
  max-height: 35px;
  max-width: 35px;
  margin-top: 10px;
  margin-right: 20px;
}

nav {
  float: right;
  margin: 0.5em;
}

.menuItems {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}

.menuItems * {
  box-sizing: border-box;
}

.menuItems li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}

.menuItems .dash-link{
  background: var(--accent-color, #FFC021);
  padding: 0.4em;
  color: rgba(33, 33, 33, 0.7);
  border-radius: 5px;
}
.menuItems .dash-link:hover,
.menuItems .dash-link:focus{
  color: var(--dark-1-color, #000);
  box-shadow: 0 0 10px 2px var(--accent-color, #ffc021);
}
.menuItems .dash-link:before,
.menuItems .dash-link:after{
  display: none;
}
.menuItems a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

.menuItems a:before,
.menuItems a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s cubic-bezier(0.97, 0, 0.15, 1.01);
  transition: all 0.35s cubic-bezier(0.97, 0, 0.15, 1.01);
  background-color: var(--white-1-color, #fff);
  width: 0;
}

.menuItems a:before {
  top: 0;
  right: 0;
}

.menuItems a:after {
  bottom: 0;
  left: 0;
}

.menuItems a:hover,
.menuItems a:focus,
.menuItems .current a {
  color: var(--white-1-color, #ffffff);
}

.menuItems a:hover:before,
.menuItems a:focus:before,
.menuItems .current a:before,
.menuItems a:hover:after,
.menuItems a:focus:after,
.menuItems .current a:after {
  width: 100%;
}
.container {
  position: relative;
}

#splash {
  height: 100vh;
  width: 100%;
  min-height: 56px;
  background-color: var(--main-color, #9A1144);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 30;
  overflow: hidden;
  /*box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.55);*/
}

#splash a {
  text-decoration: none;
}

#logo,
#blurb {
  position: absolute;
  /*top: 50%;*/
}

#logo {
  margin: 0;
  padding: 0.4em;
  max-width: 35%;
  min-height: 40px;
  /*  height: 100%;
  max-height: 20%;*/
  margin-top: 40vh;
  margin-left: 8vw;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  /*  top: 0 !important;
  left: 0 !important;
  margin-left: 5%;
  margin-top: 3%;*/
}

#blurb {
  text-align: left;
  left: 50%;
  top: 30%;
  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 35px 0 0 0;
  font-size: 1.2em;
}

#blurb:after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  /*top: 0; right: 0; bottom: 0; left: 0;*/
  /*background: rgba(255,255,255,0.08);*/
  border: 80px solid rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation: spin 60s infinite linear;
  animation: spin 60s infinite linear;
  z-index: -1;
}

#blurb p a {
  color: #fff;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
}

.btn.smaller {
  padding: 10px 25px;
}

.btn .fa {
  margin-left: 10px;
}

#about {
  margin-top: 140vh;
  /*margin-bottom: 300px;*/
  min-height: 500px;
  text-align: left;
}

#about #aboutLogo {
  float: right;
  max-height: 400px;
  max-width: 500px;
}

#about article,
#GDPR article {
  /*max-width: calc(100vw - 500px);*/
  margin: 2em auto;
}

#about h1 {
  max-width: 70vw;
  margin: 1em auto;
}
#about .about-link{

}
#about .about-link p{

}
#about .btn {
    margin: 1em auto;
    color: var(--main-color, #9A1144);
    border-color: var(--main-color, #9A1144);
    display: block;
    max-width: 165px;
}

#about .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

#about p,
#GDPR p {
  max-width: 70vw;
  margin: 2em auto;
}
#partners {
  /*width: 100%;*/
  background-color: var(--grey-3-color, #d4d4d4);
  /*text-align: center;*/
  max-width: 100vw;
  overflow: hidden;
  /*padding-top: 7vh;*/
}

#partners .carousel-cell{
  width: 20%;
}
#partners .carousel-cell{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5vh 0px;
}
#partners .carousel-cell img {
  height: 100px;
}

#partners li:after {
  padding: 1.5em 1em;
  text-align: center;
}


#compare{
  text-align: center;
  padding: 2em;
  background-color: #eeeeee;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d2d2d2' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#compare .table-container{
  max-width: 97vw;
  overflow-x: auto;
}
#compare table {
    border-collapse: collapse;
    margin: 2em auto;
}

#compare th, td {
    text-align: center;
    padding: 1em;
}
#compare td .fa{
  font-size: 1.7em;
}
#compare td .fa-check-circle{
  color: var(--green-color);
}

#compare td .fa-times-circle{
  color: var(--red-color);
}

#compare td .fa-minus-circle{
  color: var(--grey-4-color, #c7c7c7);
}

#compare tr:nth-child(odd){background-color:var(--white-2-color, #F6F6F6)}
#compare tr:nth-child(even){background-color:var(--grey-1-color, #EEE)}

#compare th {
    background-color: var(--secondary-color, #A32655);
    color: white;
}

#GDPR {
  padding-top: 2em;
  min-height: 500px;
}

#GDPR img {
  margin: 3.5em;
  float: left;
  max-height: 400px;
  max-width: 300px;
}

#GDPR article {
  max-width: 65vw;
  margin-right: 8em;
}

#problem-answer {
  width: 100%;
  overflow: hidden;
  background-image:  linear-gradient( to top left, #9a1144 50%, #212121 50% );

}
#probansTitle {
  background-color: var(--dark-2-color, #212121);
  color: #fff;
  margin: 0px;
}
#probansTitle .fa{
  color: #fff;
}
#problem-answer div {
  position: relative;
  float: left;
  width: 100%;
  padding: 2em 0;
  color: #fff;
  min-height: 45vh;
  /*background-color: var(--main-color, #9A1144);*/
  /*background-color: #9a1144;*/
/*background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23212121' fill-opacity='0.17'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
}
#problem-answer div h2{
  font-size: 1.7em;
}

/*#problem-answer div:before {
  content: '';
  display: block;
  background-color: rgba(164, 40, 86, 0.5);
  position: absolute;
  right: 0;
  bottom: 50px;
  height: 50px;
  width: 50%;
}

#problem-answer div:after {
  content: '';
  display: block;
  background-color: rgba(164, 40, 86, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50%;
}
*/
#problem-answer div img {
  /*float: right;*/
  width: 100%;
  max-width: 40vw;
  max-height: 250px;
  position: absolute;
  right: 50px;
  top: 0;
  margin: 3em;
  opacity: 0;
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

#problem-answer div span {
  float: left;
  /*max-width: calc(50% - 2em);*/
  max-width: 40vw;
  padding: 0px 5em;
}

#problem-answer div:nth-child(2) {
  float: right;
  /*background-color: var(--secondary-color, #A32655);*/
}

/*#problem-answer div:nth-child(2):before {
  top: 50px;
  left: 0;
  background-color: rgba(154, 17, 68, 0.3);
}

#problem-answer div:nth-child(2):after {
  top: 0;
  left: 0;
  background-color: rgba(154, 17, 68, 0.5);
}*/

#problem-answer div:nth-child(2) img {
  left: 50px;
  bottom: 0;
  top: initial;
}

#problem-answer div:nth-child(2) span {
  float: right;
  padding-top: 5em;
}

#features {
  background-color: var(--dark-2-color, #212121);
 /* background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%23212121' fill-opacity='0.17'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), 
  linear-gradient(
    to bottom,
    #212121 80%,
    #9A1144
  );*/
  /*margin-top: calc(65vh + 65vh + 16em);*/
  padding: 10vh 0px;
}
#features h1,
#features h1 .fa{
  color:#fff;
}
#features .slides{

  padding: 0px 1em;
}
#features li{
  width: 350px;
}
#features .carousel-cell{
  width: 350px;
}
#features .feature {
  border-radius: 5px;
  padding: 0.5em;
  min-width: 150px;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

#features .feature:focus img,
#features .feature:hover img{
  box-shadow: 0 0 0px 2px white;
}
#features .feature:focus h2,
#features .feature:hover h2{
   text-decoration: underline;
  /*background-image: radial-gradient(ellipse at center, #9a1144 50%, #212121 70%);*/
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slideleft*/
#features .feature img {
  background-color: rgb(154, 17, 68);
  /* border: 3px solid #9a1144; */
  border-radius: 5px;
  max-width: 100%;
  max-height: 145px;
  padding: 0.8em;
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.65);
  flex: 1;
}

#features .feature h2 {
  /*border-top: 1px solid var(--main-color, #9A1144);*/
  /*width: 100%;*/
  padding-top: 0.5em;
  margin-top: 0.5em;
  flex: 1;
}

#features .feature p{
  flex: 1;
}

#features #featureTxt{
  color: #fff;
  max-width: 60vw;
  margin: 0 auto;
  background-color: #363636;
  box-shadow: 0 0 10px 0px black;
  border-radius: 5px;
}

.featureArticle{
  padding: 1em;
  display: none;
}

#how-it-works {
  background-color: var(--main-color, #9A1144);
  /*padding: 6em 0;*/
  padding-top: 2em;
}

#how-it-works h1,
#how-it-works h1 .fa{
  color: #fff;
}
#how-it-works article {
  max-width: 40vw;
  margin: 0px auto;
  padding: 2.5em 10%;
 border-radius: 5px 5px 0px 0px;
 background-color: var(--white-2-color, #F6F6F6);
 line-height: 2;
}
.hidden-tech{
  height: 0px;
  /*display: none;*/
  overflow: hidden;
  transition: 600ms;
}
#techToggle{
  display: none;
}
#techToggle ~ label{
    color: #000;
    display: block;
    cursor: pointer;
    max-width: 185px;
    padding: 1em;
    background-color: var(--accent-color, #FFC021);
    border-radius: 5px;
    text-align: center;
    margin: 1em auto;
}
#techToggle ~ label:hover{
  box-shadow: 0 0 10px 2px var(--accent-color, #ffc021);
}
#techToggle ~ label::before {
  content: "\f0d7";
  font-family: FontAwesome;
}
#techToggle:checked ~ .hidden-tech {
  height: 608px;
  /*display: initial;*/
}
#techToggle:checked ~ label::before {
  content: "\f0d8";
}
.screenshots {
  /*max-width: 100vw;*/
  /*overflow: hidden;*/
  /*max-height: 500px;*/
  padding: 10vh 0px;
  background-color: var(--white-2-color, #F6F6F6);
}


.screenshots .carousel-cell{
  width: 28%;
}
.screenshots .carousel-cell article{
  width: 300px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  background: #fff;
  /*margin: 50px;*/
  box-shadow: 0px 0px 31px -5px rgba(0, 0, 0, 0.5);
}

.screenshots .active {
  /*background-color: var(--grey-3-color, #d4d4d4);*/
}

.screenshots .carousel-cell img {
  max-height: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}

#video {
  max-width: 100vw;
  /*max-height: 550px;*/
  background-color: var(--main-color, #9A1144);
  text-align: center;
  margin: 0em auto;
  padding: 4em 0px;
}

#video span iframe {
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
}

#social{
  display: flex;
  justify-content: space-around;
    align-content: center;
    align-items: center;
      padding: 5em;
        flex-wrap: wrap;
}

#social #events{
  border: 3px solid var(--main-color, #9A1144);
  border-radius: 5px;
  padding: 1em;
  max-height: 600px;
  /*min-width: 400px;*/
  max-width: 600px;
}
#social #events{
}
#social #events #eventList{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0px;
  max-height: 400px;
}
#social #events a:focus article h4,
#social #events a:hover article h4{
  text-decoration: underline;
}
#social #events a{
  display: flex;
  align-items: start;
  width: 100%;
  text-decoration: none;
  margin-bottom: 1.5em;
  border-top: 1px solid #eee;
  min-height: 115px;
  color: #212121;
}
#social #events a h4{
  color: var(--main-color, #9A1144);
}
#social #events a b{
  font-weight: bold;
}
#social #events a span{
  margin: 0.4em;
  min-width: 90px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: var(--main-color, #9A1144);
}
#social #events a article{
  margin: 0.4em;
}
#social #events a article > *{
  margin: 0px;
}
#PIA {
  margin: 3.5em 0;
}

#PIA article {
  margin: 0 auto;
  max-width: 60vw;
}

#CTA {
  text-align: center;
  background-color: var(--main-color, #9A1144);
  padding: 3em;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#CTA #cir {
  content: '';
  z-index: -1;
  height: 0px;
  width: 0px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.35s cubic-bezier(0.97, 0, 0.15, 1.01);
  transition: all 0.35s cubic-bezier(0.97, 0, 0.15, 1.01);
}

#CTA .btn {
  z-index: 1;
  background: var(--main-color, #9A1144);
}

#CTA .btn:hover,
#CTA .btn:focus {
  background-color: #B44D73;
}

#contact {
  background: var(--grey-2-color, #e1e1e1);
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 3em;
  padding-top: 4em;
}

#contact p {
  margin-bottom: 3em;
  font-size: 1.2em;
}

#contact div {
  max-width: 70vw;
  margin: 0 auto;
}

#contact .input {
  width: 47%;
  float: left;
}

#contact .input:nth-of-type(odd) {
  margin-right: 6%;
}

#contact .message {
  display: block;
  clear: both;
  float: none;
  padding-top: 10px;
}

#contact .input input {
  display: block;
  width: 100%;
  background: var(--grey-4-color, #c7c7c7);
  border: 0;
  padding: 10px 15px;
}

#contact .message textarea {
  display: block;
  width: 100%;
  height: 200px;
  /*background: rgba(164,40,86,0.7);*/
  background-color: var(--grey-4-color, #c7c7c7);
  border: 0;
  padding: 10px 15px;
  resize: vertical;
}

#contact label {
  position: relative;
  z-index: 10;
}

#contact label span {
  display: block;
  text-align: left;
  font-size: 14px;
}

#contact label span .fa {
  margin-right: 7px;
}

#contact .submit {
  display: block;
  text-align: center;
  padding-top: 40px;
}

#contact h2 {
  margin-bottom: 40px;
}

#contact .btn {
  color: var(--dark-2-color, #212121);
  border-color: var(--dark-2-color, #212121);
}

#contact .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
#contact .to-top{
 background-color: var(--dark-2-color, #212121);
     position: absolute;
    bottom: 0;
    right: 3vw;
    border-radius: 50% 50% 0% 0%;
}
#contact .to-top i{
 color: #fff;
 font-size: 3em;
}
#contact .to-top i:hover,
#contact .to-top i:focus{
  color: var(--accent-color);
}
footer {
  background-color: var(--dark-2-color, #212121);
  color: #fff;
}

footer #copyright {
  bottom: 0;
  padding: 2em;
}

footer #copyright a {
  color: #fff;
}

footer #copyright p {
  font-size: 0.7em;
  margin: 0px;
}