/*Colours
  Main: #9A1144 , (154,17,68);
  Secondary: #A42856 , (164,40,86);
  Text: #212121 / #FFF;
  Whites: #FFF;
  Greys: #c7c7c7, #d4d4d4, #e1e1e1, #eeeeee;
  Darks: #212121, #373737, #000;
*/
/*selection styles*/
::selection {
    background: #212121;
    color: #9A1144; /* WebKit/Blink Browsers */ 
}
::-moz-selection {
    background: #212121;
    color: #9A1144; /* Gecko Browsers */
}

@keyframes spin {
  0%   { transform: rotate(30deg); }
  100% { transform: rotate(210deg); }
}

body {
    color: #212121;
    background-color: #F6F6F6;
	font-family: 'Raleway', sans-serif;
    font-size: 16px; /*fallback*/
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}
section {
    /*padding: 6em 2em;*/
    text-align: center;
    margin: 0 auto;
}

.active{
	background: #212121;
}

/*have header start as #9A1144 and scroll into a dark background*/
header{
    background: rgba(154,17,68,0.0);
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 200;
    transition: transform 0.3s ease-out;
}

header .logo>h1{
    float: left;
    padding: 13px 0;
    color: #9A1144;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    display: inline-block;
}
header .logo-img{
    float: left;
    max-height: 35px;
    max-width: 35px;
    margin-top: 10px;
    margin-right: 20px;
}

nav{
    float: right;
    margin: 0.5em;
}

.menuItems {
padding: 0;
 margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}
.menuItems * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menuItems li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}
.menuItems a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.menuItems a:before,
.menuItems a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #fff;
  width: 0;
}
.menuItems a:before {
  top: 0;
  right: 0;
}
.menuItems a:after {
  bottom: 0;
  left: 0;
}
.menuItems a:hover,
.menuItems .current a {
  color: #ffffff;
}
.menuItems a:hover:before,
.menuItems .current a:before,
.menuItems a:hover:after,
.menuItems .current a:after {
  width: 100%;
}
header .toggle-menu{
    display: none;
}

#splash{
	height: 100vh;
	background-color: #9A1144;
	color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  overflow: hidden;
}
#splash a{
  text-decoration: none;
}
#logo, #blurb{
    position: absolute;
    top: 250px;
}

#logo{
  max-width: 25%;
    margin-left: 70px;
    margin-top: 100px;
}
#blurb{
  text-align: left;
    left: 500px;
    width: 500px;
    margin: 0 auto 0 auto;
    padding: 35px 0 0 0;
    font-size: 1.2em;
}
#blurb:after{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -400px; right: -400px; bottom: -400px; left: -400px;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    /*background: rgba(255,255,255,0.08);*/
    border: 80px solid rgba(255,255,255,0.08);
    border-radius: 50px;
    transform: rotate(-30deg);
    animation: spin 60s infinite linear;
    z-index: -1;
}
#blurb p a{
  color: #fff;
  text-decoration: underline;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    border: 1px solid #fff;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
.btn.smaller{
    padding: 10px 25px;
}
.btn .fa{
    margin-left: 10px;
}
#about{
	margin-top: 140vh;
  /*margin-bottom: 300px;*/
  text-align: center;
}
#partners{
  width: 100%;
  height: 100px;
  background-color: #d4d4d4;
}
#GDPR{
  text-align: center;
}
#about p , #GDPR p{
  max-width: 70vw;
  margin:2em auto; 
}
#problem-answer{
  width: 100%;
  height: 100vh;
  /*margin-bottom: 200px;*/
}
#problem-answer div{
  position: relative;
  float: left;
  width: 100%;
  padding: 2em 0;
  /*margin: 2em 0;*/
  color: #fff;
  min-height: 70vh;
  background-color: #9A1144;
}
#problem-answer div:before{
  content: '';
  display: block;
  background-color: rgba(164,40,86,0.5);
  position: absolute;
  /*top: 0; */right: 0; bottom: 50px;/* left: 0;*/
  height: 50px;
  width: 50%;
}
#problem-answer div:after{
  content: '';
  display: block;
  background-color: rgba(164,40,86,0.8);
  position: absolute;
  /*top: 0; */right: 0; bottom: 0;/* left: 0;*/
  height: 50px;
  width: 50%;
}
#problem-answer div span{
  float: left;
  max-width: calc(50% - 2em);
  padding: 0px 2em;
}
#problem-answer div:nth-child(2){
  float: right;
  background-color: #a42856;
}
#problem-answer div:nth-child(2):before{
top: 50px; left: 0;
background-color: rgba(154,17,68,0.3);
}
#problem-answer div:nth-child(2):after{
top: 0; left: 0;
background-color: rgba(154,17,68,0.5);
}
#problem-answer div:nth-child(2) span{
  float: right;
  padding-top: 5em;
}

#features{
  background-color: #212121;
  margin-top: calc(70vh - 4em);
  padding: 3em;
}
#features .coloums{
  display: flex;
  flex-direction: row;
  max-width: 900px;
   margin: 0 auto;
}
#features .feature{
  margin-right: 40px;
  overflow: hidden;
  color: #fff;
  flex:1;
}
#features .feature img{
  max-width: 100%;
}
#features .feature h2{
  border-bottom: 1px solid #9A1144;
}

#how-it-works{
  padding: 6em 0;
}
.screenshots{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.screenshots img{
	max-height: 70vh;
}
#video{
  max-width: 100vw;
  max-height: 480px;
  background-color: #ddd;
  text-align: center;
  margin: 6em 0;
}
#video span iframe{
  margin: 0 auto;
  width: 70%;
}
#contact{
    background: #e1e1e1;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 0;
}
#contact div{
	max-width: 70vw;
	margin: 0 auto;
}
#contact .input{
    width: 47%;
    float: left;
}
#contact .input:nth-of-type(odd){
    margin-right: 6%;
}
#contact .message{
    display: block;
    clear: both;
    float: none;
    padding-top: 10px;
}
#contact .input input{
    display: block;
    width: 100%;
    background: rgba(164,40,86,0.7);
    border: 0;
    padding: 10px 15px;
}
#contact .message textarea{
    display: block;
    width: 100%;
    height: 200px;
    background: rgba(164,40,86,0.7);
    border: 0;
    padding: 10px 15px;
    resize: vertical;
}
#contact label{
    position: relative;
    z-index: 10;
}
#contact label span{
    display: block;
    text-align: left;
    font-size: 14px;
}
#contact label span .fa{
    margin-right: 7px;
}
#contact .submit{
    display: block;
    text-align: center;
    padding-top: 40px;
}
#contact h2{
    margin-bottom: 40px;
}
footer{
	background-color: #212121;
	height: 20vh;
  color: #fff;
}
footer #copyright{
  bottom: 0;
  padding: 2em;
}
footer #copyright p{
  font-size: 0.7em;
  margin:0px;
}